@using TimeAide.Common.Helpers;
<!--Header Bar-->
<div class="header">
    <!-- Logo -->
    <div class="header-left">
        <a href="/PayrollDashboard/Index" class="logo">
            <img src="/Content/Themes/assets/img/logo.png" width="48" height="40" alt="">
        </a>
    </div>
    <!-- /Logo -->

    <a id="toggle_btn" href="javascript:void(0);">
        <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </a>

    <!-- Header Title -->
    <div class="page-title-box">
        <h3>Payroll Portal</h3>
    </div>

    <a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>

    <!-- Header Menu -->

    <ul class="nav user-menu">     
     
        <li class="nav-item dropdown has-arrow main-drop">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <span class="user-img">
                    <!-- <img src="~/Images/no-profile-image.jpg" alt="">-->
                    <img src="@SessionHelper.UserProfilePicture" alt="Not Available">
                    @*<span class="status online"></span>*@
                </span>
                @{
                    var UserLogin = SessionHelper.LoginEmail;
                    if (UserLogin != null)
                    {
                        var chrInx = UserLogin.IndexOf("@");
                        if (chrInx > 0)
                        {
                            UserLogin = UserLogin.Substring(0, chrInx);
                        }
                    }
                    else
                    {
                        UserLogin = "NA";
                    }
                }
                <span>@UserLogin</span>
            </a>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="\Account\ChangePassword">Change Password</a>

                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="dropdown-item">Logout</button>
                    @*<a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>*@

                }

            </div>
        </li>
    </ul>
    <!-- /Header Menu -->
    <!-- Mobile Menu -->
    <div>
        <div class="dropdown mobile-user-menu">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="login.html">Logout</a>
            </div>
        </div>
        <!-- /Mobile Menu -->

    </div>
</div>
<!-- /Header -->
<script type="text/javascript">
    $(document).ready(function () {
        $('.dropdown-submenu a.test').on("click", function (e) {
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
    });




</script>
<style>
    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }
</style>
<script type="text/javascript">
   
</script>