@model TimeAide.Web.Models.BaseEntity
<div class="page-header">
    <div class="row align-items-center">
        <div class="col-sm-12">
            <h3 class="page-title">Detail</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">@ViewBag.Label</li>
                <li class="breadcrumb-item active">Detail</li>

            </ul>
        </div>
    </div>
</div>
