
@{
    ViewBag.Title = "Internal Error";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}


<div class="error-box">  
    <h3><i class="fa fa-warning"></i> Oops! Something went wrong while processing your requested Page!</h3>
    <p class="text-danger">Please contact system administrator.</p>
    
</div>