@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="error-box">
    @*<h1>Error</h1>*@
    <h2> @ViewBag.Title</h2>

    <p class="text-info"> Your password has been reset. Please logout and login again!</p>

    <!--  <a href="index.html" class="btn btn-custom">Back to Home</a>-->
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-custom">Logout</button>
        @*<a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>*@

    }
  
</div>